# OS or Editor folders
.DS_Store
.idea

# Folders to ignore
node_modules
bower_components
.sass-cache

# Dist zip
bootstrap-select-*.zip
dist/

# Playwright
test-results/
playwright-report/
blob-report/
.playwright/

docs/build
docs/.pages-build
docs/.docusaurus
docs/content/dist/
docs/static/dist/
